<div fxFlex="1 1 auto" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center">
  <div fxFlex="1 1 auto" class="welcomeWrapper">
    <h1 fxHide fxShow.gt-xs="true">Welcome</h1>
    <img src="https://dummyimage.com/350x350/FFC55C/efe.png&text=We">
  </div>
  <p fxFlex="1 1 auto" class="welcomeText">
    Bears and Bees is an idea born out of my own need of Project Ideas in order to learn new technologies.
    <br>
    <br> Seeing as most of the Tutorials on Tech Documentation are too short for a newcomer to obtain a deep understanding
    of the skills and methods he used and most of the online tutorials are ill-project oriented, telling what to do step
    by step.
    <br>
    <br> The only real introduction of a tech stack would be to create your own side project.
    <br>
    <br> Bears and Bees is mainly aimed at newcomers who have no prior experience with development, and not only find it
    hard to think of an idea that will target the skills they need to strengthen, they don't really know exactly What to
    use in their project.
    <br>
    <br> Depicting Bears as newcomers to a stack\idea, a Honey Pot as their Project, the Bears will put up their idea and
    wait for the bees help: Recommending relevant technologies, learning materials and even assisting in the project!
    <br> Moreover, the application should be generally used to quickly find ideas for a side project you want to start right
    away.
    <br>

  </p>
</div>

<div fxLayout="column" id="midWrapper" fxLayoutAlign="start center">
  <h1 style="color:white;"> So are you a Bear or a Bee?</h1>
  <div fxLayout="row" id="bearOrBee" fxLayoutAlign="space-around center">
    <div fxFlex="1 1 auto" id="bear">
      <img src="https://dummyimage.com/200x250/FFC55C/efe.png&text=Bear">
      <p>Sriracha semiotics gluten-free keytar, neutra beard drinking vinegar man braid pour-over schlitz subway tile. Vegan
        venmo hot chicken authentic. Snackwave la croix shoreditch farm-to-table live-edge
      </p>
    </div>
    <div fxFlex="1 1 auto" id="bee">
      <img src="https://dummyimage.com/200x250/FFC55C/efe.png&text=Bee">
      <p>Sriracha semiotics gluten-free keytar, neutra beard drinking vinegar man braid pour-over schlitz subway tile. Vegan
        venmo hot chicken authentic. Snackwave la croix shoreditch farm-to-table live-edge
      </p>
    </div>
  </div>
</div>


<div fxFlex="1 1 auto" fxLayout="row" id="endWrapper" fxLayoutAlign="space-around center">
  <h1> Recent<br>Bears </h1>
  <img src="https://dummyimage.com/200x200/FFC55C/efe.png&text=Be">
  <img src="https://dummyimage.com/200x200/FFC55C/efe.png&text=Be">
  <img src="https://dummyimage.com/200x200/FFC55C/efe.png&text=Be">
  <img src="https://dummyimage.com/200x200/FFC55C/efe.png&text=Be">

</div>