<!--<div fxLayout="row" fxLayoutAlign="space-around"
[attr.color]="footerColor">
    <div class="footer-social">Social Content</div>
    <div class="footer-logo">Logo Content</div>
    <div class="footer-info">Info Content</div>
</div>-->

<md-toolbar [color]="footerColor">
    <div class="container" fxLayout="row">
        <div fxFlex id="social" class="footer-item">Social Content</div>
        <div fxFlex id="logo" class="footer-item">Logo Content</div>
        <div fxFlex id="info" class="footer-item">Info Content</div>
    </div>
</md-toolbar>