<div id="container" fxLayout="row"  fxLayoutAlign="space-between start">

  <div fxFlex fxLayout="column" id="imageWrapper">
    <div id="blackBackground"></div>
    <img id="notFoundImage" routerLink=""  src="https://dummyimage.com/300x300/FFC55C/efe.png&text=@">
  </div>
  <div fxFlex="2 1 auto" fxHide fxShow.gt-xs="true" id="seperator"></div>
  <div id="textNotFound" fxFlex="5 2 auto" fxHide fxShow.gt-xs="true">
    <h1> Page Not Found </h1>
    <p>Qui vape proident voluptate. Ramps kogi nostrud messenger bag. Kogi post-ironic raw denim tattooed, hot chicken farm-to-table
      ethical. Veniam venmo forage, lumbersexual direct trade migas pabst.</p>
  </div>
</div>